ASSIGNMENT -1

QUESTION1

In [1]:
str1 ="Sanket"
l1 = [123,343,45,"235"]
f1 = 23432.544
t1 =(234,45,56,"sd")

QUESTION 2

In [4]:
str
str
list
int

str

question 3

In [6]:
 # / operator is used to perform division operation it give answer in decimal value 
#  % modulus operator is being used to get reminder in division 
# // we use this operator when we want integer as answer
# ** power operator is used to exponential purpose 

# 10/3 = 3.3333
# 10%3 =1
# 10//3 =3
# 10**3 =1000

question 4

In [10]:
l1=[12,34,324,45,234,234.34,"Sanket",[234,435,75],(24,3456,67),True]

for i in l1:
    print(i, "- " ,type(i))

12 -  <class 'int'>
34 -  <class 'int'>
324 -  <class 'int'>
45 -  <class 'int'>
234 -  <class 'int'>
234.34 -  <class 'float'>
Sanket -  <class 'str'>
[234, 435, 75] -  <class 'list'>
(24, 3456, 67) -  <class 'tuple'>
True -  <class 'bool'>

question 5

In [17]:
a = int(input("enter 1 st number"))
b = int(input("enter 2 nd number"))


count = 0

while a % b == 0:
    a= a // b
    count += 1

print("a is divisible by b", count, "times.")

a is divisible by b 0 times.

question 6

In [18]:
l= list(range(25))

for i in l:
    if i%3 ==0:
        print(i, " is divible by 3")
    else:
        print(i, " is not divible by 3")

0  is divible by 3
1  is not divible by 3
2  is not divible by 3
3  is divible by 3
4  is not divible by 3
5  is not divible by 3
6  is divible by 3
7  is not divible by 3
8  is not divible by 3
9  is divible by 3
10  is not divible by 3
11  is not divible by 3
12  is divible by 3
13  is not divible by 3
14  is not divible by 3
15  is divible by 3
16  is not divible by 3
17  is not divible by 3
18  is divible by 3
19  is not divible by 3
20  is not divible by 3
21  is divible by 3
22  is not divible by 3
23  is not divible by 3
24  is divible by 3
25  is not divible by 3

question 7

In [23]:
# mutable data types - such data type that can be modified after creation 

# ex --list 

l2 =[ 23,5,57]
l2[0]=7

# modified in origianl 

# unmutable data types -- such data type that cannot be modified after creation 

# ex-  string 

str1 ="sanket"
# str[0] ="p" ---- give eroor